//- Creando un MIXIN para el section, porque se repite, en este caso (4 veces): recibe -> Una imagen, un titulo, y un texto.

mixin section(subtitle, text)
    .section
        h3.section__subtitle= subtitle
        p.section__text= text