.copy {
    text-align: center;

    &__logos {
        height: 110px;
        // width: 50px;
        margin-bottom: 2rem;
    }


    &__text {
        text-align: center;
        padding-bottom: .5rem;
        color: var(--text-color);
        font-weight: 300;


    }
    &__link {
        text-decoration: none;
        color: var(--button-text);
        font-weight: 700;

        @include hover {
            text-decoration: underline;
        }
    }
}